HTML, BODY {
	width: 100%;
}

IMG {
	border: 0;
}

BODY {
	margin: 0;
	background: #000 url('img/bg_full.jpg') 50% 0 repeat-y;
	font-family: Tahoma, Verdana, Sans Serif;
	font-size: 14px;
	color: #EEEEEE;
	line-height: 20px;
}

A {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}

A:HOVER {
	text-decoration: underline;
}

DIV#container {
	width: 100%;
	position: relative;
}

DIV#main {
	width: 961px;
	left: 50%;
	margin-left: -480px;
	position: absolute;
	text-align: center;
}

DIV#bantop {
	width: 961px;
	height: 278px;
	margin-top: 15px;
	position: relative;
}

DIV#adalogo {
	width: 75px;
	height: 150px;
	position: absolute;
	top: 240px;
	left: -37px;
}

DIV#bachlogo {
	width: 150px;
	height: 50px;
	position: absolute;
	left: 850px;
	top: 253px;
}

DIV#fantatop {
	width: 959px;
	height: 79px;
	background: url('img/fantazjetop.png') no-repeat;
	margin-left: 1px;
	margin-top: 25px;
}

DIV#konkurstop {
	width: 750px;
	height: 24px;
	background: url('img/konkurstop.png') no-repeat;
	margin-left: 105px;
	margin-top: 15px;
}

DIV#textcontainer {
	width: 100%;
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 50px;
}

#message {
    background-color: #ffffff;
    color: black;
    padding: 5px;
    font-weight: bold;
    margin: 5px 0px;
    border: 4px solid green;
}

#textcontainer p {
	text-align: justify;
}
#menu {
	height: 30px;
	margin: 20px 0px;;
}

.menu {
	float: left;
	width: 130px;
	border-right: 1px solid white;
}

.menu a {
	font-weight: normal;
}
.menu a:hover {
	color: #cccccc;
	text-decoration: none;
}

.bold a {
	font-weight: bold;
}

.clear {
	clear: both;
}

#column_left {
	float: left;
	width: 750px;
}

#column_right {
	float: right;
	width: 200px;
}

.podpis {
	text-align: right !important;
	font-style: italic;
}

.okladka {
	float: left; 
	margin: 70px 40px 70px 0px;
	border: 2px solid white;
}

h3.tom {
	margin-left: 240px;
	border-bottom: 1px solid white;
}

 .ul {text-align: left; margin-bottom: 15px; text-indent: -15px; padding-left: 310px;}
 
.galeria a img {
	border: 2px solid #dedede;
}

.galeria a {
    margin-right: 25px;
    margin-bottom: 25px;
    display: block;
    float: left;
    width: 110px;
    text-align: center;
}

#cookies {
    padding: 15px;
    background: #eeeeee;
    text-align: center;
    color: black;
    font-size: 13px;
}

#cookies_txt {
    width: 930px;
    text-align: justify;
    margin: auto;
}

#cookies_txt a {
    color: #dd2222;
    float: right;
    font-weight: normal;
}

#cookies_txt a:hover {
    color: #ff4444;
}